<!DOCTYPE html>
<html>
<head>
	<title>supprimer job</title>
    <link rel="stylesheet" type="text/css" href="{{asset('css/supprimer.css')}}">
</head>
<body>
<h1>Bonjour</h1>
<p>etes vous sur de supprimer le job ayant l'id: {{job.id}}</p>
</body>
</html