{% extends 'base.html.twig' %}
{% block title %}modifier job{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button tupe="submit">modifier</button>
{{ form_end(form) }}
{% endblock %}