{% extends 'base.html.twig' %}
{% block title %}ajouter article{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button tupe="submit">crée</button>
{{ form_end(form) }}
{% endblock %}